/*navigation bar start*/
ul li {
  	
  	display: inline-block;
    margin`: 0;
  }
  

ul a {
display: inline-block;
  	text-decoration: none;
  	text-transform: uppercase;
  	color: white;

 padding: 10px;
padding-left: 60px;
 padding-right: 60px;
 margin: 0;
 word-wrap: normal;
  }
  
 
 ul a:hover{
  	text-decoration: none;
  	color: grey;
background-color: white;
  }
  
 
 ul a:focus{
 	text-decoration: none;
  }
  

.current {
 	box-shadow: 0px -3px 0px white inset;
 
  }
  

 ul {
  	margin-bottom: 0;
  }
  
 /*navigation bar end*/
 
 .nav, 
 
.footer {align: center}
 
#twitter {
   background-image: url('twitter-4-xl.png');
   height: 32px;
   width: 32px;
}

#twitter:hover {
   background-image: url('twitter.png');
   height: 32px;
   width: 32px;
}

#facebook {
   background-image: url('facebook-4-xl.png');
   height: 32px;
   width: 32px;
}

#facebook:hover {
   background-image: url('facebook.png');
   height: 32px;
   width: 32px;
}

#instagram {
   background-image: url('instagram-4-xl.png');
   height: 32px;
   width: 32px;
}

#instagram:hover {
   background-image: url('instagram.png');
   height: 32px;
   width: 32px;
}
