/*navigation bar start*/
ul li {
  	
  	display: inline-block;
    margin`: 0;
  }
  

ul a {
display: inline-block;
  	text-decoration: none;
  	text-transform: uppercase;

 padding: 10px;
padding-left: 60px;
 padding-right: 60px;
 margin: 0;
 word-wrap: normal;
  }
  
 
 ul a:hover{
  	text-decoration: none;
  	color: white;
background-color: lightblue;
  }
  
 
 ul a:focus{
 	text-decoration: none;
  }
  

.current {
 	box-shadow: 0px -3px 0px lightblue inset;
 
  }
  

 ul {
  	margin-bottom: 0;
  }
  
 /*navigation bar end*/
 
 .nav, footer {
 	clear: both;
 }
 
 p {
 	font-size: 16px;
 }
 
