/*navigation bar start*/
ul li {
  	
  	display: inline-block;
    margin`: 0;
  }
  

ul a {
display: inline-block;
  	text-decoration: none;
  	text-transform: uppercase;
  	color: white;

 padding: 10px;
padding-left: 60px;
 padding-right: 60px;
 margin: 0;
 word-wrap: normal;
  }
  
 
 ul a:hover{
  	text-decoration: none;
  	color: grey;
background-color: white;
  }
  
 
 ul a:focus{
 	text-decoration: none;
  }
  

.current {
 	box-shadow: 0px -3px 0px white inset;
 
  }
  

 ul {
  	margin-bottom: 0;
  }
  
 /*navigation bar end*/
 
.nav, 

.social-roll {
	background-image: url('twitter-4-xl.png');
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	border-radius: 50%;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-roll:hover {
	background-image: url('twitter.png');
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}
